@using RaceCorp.Web.ViewModels.Town

@model TownCreateViewModel


@{
    this.ViewData["Title"] = "Create town";
    this.ViewData["ButtonName"] = "Create";
}

<h1>@ViewData["Title"]</h1>
<div asp-validation-summary="All" class="text-danger"></div>
<div class="col-md-4 offset-md-4">
    <form method="post" class="form-group" enctype="multipart/form-data">
        <div class="form-group">
            <label class="label" asp-for="Name"></label>
            <input asp-for="Name" class="form-control  mb-1" />
            <span asp-validation-for="Name" class="text-danger"></span>
            <button id="submitBtn" class="btn border border-dark mt-2" type="submit">@ViewData["ButtonName"]</button>
        </div>
    </form>
    <div>
    </div>
</div>
