@using RaceCorp.Web.ViewModels.Town

@model TownRidesProfileViewModel

@{
    this.ViewData["Title"] = "All rides in " + this.Model.Name;
    this.ViewData["action"] = "ProfileRides";
    this.ViewData["controller"] = "Town";
    this.ViewData["modelId"] = this.Model.Id;

}

<h1>@this.ViewData["Title"]</h1>
<hr />
<partial name="_RideAllPartial" model="@Model.Rides" />

@if (Model.Rides.Rides.Count != 0)
{
    <partial name="_PagingPartial" model="@Model.Rides" />
}