@model RaceCorp.Web.ViewModels.Ride.RideTraceBaseInputModel
@{
    this.ViewData["Title"] = "Edit Ride";
    this.ViewData["ButtonName"] = "Edit";

    var formats = Model.Formats.Select(t => new SelectListItem(t.Value, t.Key));
    var difficulties = Model.Trace.DifficultiesKVP.Select(t => new SelectListItem(t.Value, t.Key));
}



<div asp-validation-summary="All" class="text-danger"></div>
<div class="form-group">
    <label class="label required" asp-for="Name"></label>
    <input asp-for="Name" class="form-control  mb-1" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>
<div class="form-group">
    <label class="label required" asp-for="Town"></label>
    <input asp-for="Town" class="form-control  mb-1" />
    <span asp-validation-for="Town" class="text-danger"></span>
</div>
<div class="form-group">
    <label class="label required" asp-for="Mountain"></label>
    <input asp-for="Mountain" class="form-control mb-1" />
    <span asp-validation-for="Mountain" class="text-danger"></span>
</div>
<div class="form-group">
    <label class="label required" asp-for="Date"></label>
    <input type="date" asp-for="Date" class="form-control mb-1" />
    <span asp-validation-for="Date" class="text-danger"></span>
</div>
<div class="form-group">
    <label class="label required" asp-for="FormatId"></label>
    <select asp-for="FormatId" class="form-control" asp-items="@formats">
    </select>
    <span asp-validation-for="FormatId" class="text-danger"></span>
</div>
<div class="form-group mb-3">
    <label class="label" asp-for="Description"></label>
    <textarea asp-for="Description" class="form-control row-cols-3"></textarea>
    <span asp-validation-for="Description" class="text-danger"></span>
</div>
<div class="input-group mb-3">
    <span class="input-group-text required" id="basic-addon1">Trace name</span>
    <input asp-for="Trace.Name" class="form-control" placeholder="Trace Name">
    <span asp-validation-for="Trace.Name" class="text-danger"></span>
</div>
<div class="input-group mb-3">
    <span class="input-group-text required" id="basic-addon1">Length</span>
    <input asp-for="Trace.Length" class="form-control" placeholder="Trace Length in kilometers">
    <span asp-validation-for="Trace.Length" class="text-danger"></span>
</div>

<div class="input-group mb-3">
    <span class="input-group-text required" id="basic-addon1">Difficulty</span>
    <select asp-for="Trace.DifficultyId" class="form-control" asp-items="@difficulties">
    </select>
    <span asp-validation-for="Trace.DifficultyId" class="text-danger"></span>
</div>
<div class="input-group mb-3">
    <span class="input-group-text required" id="basic-addon2">Control time</span>
    <input asp-for="Trace.ControlTime" class="form-control" placeholder="Trace Control time in hours">
    <span asp-validation-for="Trace.ControlTime" class="text-danger"></span>
</div>

<div class="input-group mb-3">
    <span class="input-group-text required" id="basic-addon3">Start Time</span>
    <input asp-for="Trace.StartTime" class="form-control" placeholder="">
    <span asp-validation-for="Trace.StartTime" class="text-danger"></span>
</div>
<div class="input-group mb-3">
    <span class="input-group-text required">Gpx</span>
    <input asp-for="Trace.GpxFile" class="form-control" placeholder="Trace url">
    <span asp-validation-for="Trace.GpxFile" class="text-danger"></span>
</div>


